/** @format */

.wrapper {
  background: rgb(215, 75, 71);
  padding: 25px;
  width: 750px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  margin-bottom: 50px;
}

.header {
  font-size: 38px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 25px;
  text-align: center;
  background-color: #fff;
  padding: 15px 0;
  color: rgb(215, 75, 71);
  border: none;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.link_wrapper {
  text-decoration: none;
}
